[Unit]
After=casaos-gateway.service
After=casaos-message-bus.service
After=casaos-user-service.service
Description=A Debug Tool for CasaOS and ZimaOS

[Service]
ExecStart=/usr/bin/casaos-debugger
Restart=always

[Install]
WantedBy=multi-user.target
